<h1>Create Representative / Crear Diputado-Representante</h1>
<form accept-charset="UTF-8" action="/representatives" method="post">
 <%= token_tag nil %>
 
 <div class="form-group row">
   <div class="col-sm-4"> Nombre(s)</div> 
   <div class="col-sm-4"> <input type="text" name="representative[first_name]"/></div>
 </div>

<div class="form-group row">
    <div class="col-sm-4"> Apellido(s) </div>
      <div class="col-sm-4"> <input type="text" name="representative[last_name]" /></div>
 </div>

<div class="form-group row">
  <div class="col-sm-4">Correo</div>
  <div class="col-sm-4"><input type="text" name="representative[email]"/></div>
 </div>
 
<div class="form-group row">
  <div class="col-sm-4">Telefono</div>
  <div class="col-sm-4"><input type="text" name="representative[phone]"/></div>
 </div>

<div class="form-group row">
  <div class="col-sm-4">Tipo de Diputado</div>
  <div class="col-sm-4">
    <select class="form-control" name="representative[representative_type]">
  	<option value="0">plurinominal</option>
  	<option value="1" selected>voto publico</option>
    </select>
  </div>
</div>

<div class="form-group row">
   <div class="col-sm-4">Twitter</div>
   <div class="col-sm-4"><input type="text" name="representative[twitter]"/></div>
</div>

<div class="form-group row">
   <div class="col-sm-4">Facebook</div>
   <div class="col-sm-4"><input type="text" name="representative[facebook]"/></div>
</div>

<div class="form-group row">
   <input class="btn btn-default" type="submit" value="Agregar">
</div>
</form>