<p id="notice"><%= notice %></p>

<h1>Listing Commission Topics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commission_topics.each do |commission_topic| %>
      <tr>
        <td><%= commission_topic.name %></td>
        <td><%= commission_topic.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commission Topic', new_admin_commission_topic_path %>